* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    background-color: whitesmoke;
}

body {
    min-width: 280px;
}

#bugImg {
    margin-right: 10px;
}

#reportWrapper {
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    width: 500px;
    border: solid black 1px;
    border-radius: 5px;
}

#reportedBy {
    background-color: white;
    font-size: 20px;
    border-radius:5px;
}

#topbar {
    font-size: 50px;
}

#system {
    background-color: white;
    font-size: 20px;
}

#subSystem {
    background-color: white;
    font-size: 20px;
}

#bugDesc {
    background-color: white;
    font-size: 20px;
    max-width: 450px;
}

.userInput {
    padding: 3px;
    border-radius:10px;
    border: none;
}

input {
    padding: 5px;
}

button {
    border: none;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(59, 59, 59);
}

hr {
    margin-top: 50px;
}

#listWrapper {
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#bug {
    grid-column: 1/2;
}

#myBug {
    width: 400px;
    color: white;
    font-weight: bold;
    background-color: brown;
    border: solid black 3px;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#myBug p {

    word-wrap: break-word;
    background-color: brown;
}

#bugP2 {
    max-width: 400px;
}

#resolveButton {
    background-color: rgb(8, 90, 8);
    margin-right: 5px;
    margin-top: 10px;
}

#resolveButton:hover {
    background-color: rgb(54, 155, 54);
}

#deleteButton {
    margin-top: 10px;
}

@media only screen and (max-width : 1300px) {
    #listWrapper {
        width: 750px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #bug {
        grid-column: 1/2;
    }

    #myBug {
        width: 350px;
    }
    
    #myBug p {
    
        word-wrap: break-word;
        background-color: brown;
    }
    
    #bugP2 {
        max-width: 350px;
    }
}

@media only screen and (max-width : 1000px) {
    #listWrapper {
        width: 500px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #bug {
        grid-column: 1/2;
    }

    #myBug {
        width: 450px;
    }
    
    #myBug p {
    
        word-wrap: break-word;
        background-color: brown;
    }
    
    #bugP2 {
        max-width: 450px;
    }
}

@media only screen and (max-width : 1000px) {
    #listWrapper {
        width: 500px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #bug {
        grid-column: 1/2;
    }

    #myBug {
        width: 450px;
    }
    
    #myBug p {
    
        word-wrap: break-word;
        background-color: brown;
    }
    
    #bugP2 {
        max-width: 450px;
    }
}